version: "3"
services:
  grafana:
    ports:
      - "127.0.0.1:3000:3000"
    volumes:
      - "/mnt/grafana:/var/lib/grafana"
    environment:
      GF_PATHS_CONFIG: "/var/lib/grafana/grafana.ini"
    container_name: grafana
    image: grafana/grafana:8.0.0
    depends_on:
      - influxdb
    restart: unless-stopped

  influxdb:
    ports:
      - "127.0.0.1:8086:8086"
    volumes:
      - "/mnt/influxdb:/var/lib/influxdb"
    environment:
      INFLUXDB_HTTP_AUTH_ENABLED: "True"
      INFLUXDB_DB: "influxdb"
      INFLUXDB_URL: "http://influxdb:8086"
      INFLUXDB_USER: "user"
      INFLUXDB_USER_PASSWORD: "${INFLUXDB_USER_PASSWORD}"
      INFLUXDB_ADMIN_USER: "admin"
      INFLUXDB_ADMIN_PASSWORD: "${INFLUXDB_ADMIN_PASSWORD}"
    container_name: influxdb
    image: influxdb:1.8
    restart: unless-stopped

  telegraf:
    image: telegraf:1.19
    volumes:
      - "/mnt/telegraf/telegraf.conf:/etc/telegraf/telegraf.conf"
      - "/mnt/telegraf_data/:/usr/local/sbin/"
    environment:
      INFLUXDB_USER: "user"
      INFLUXDB_USER_PASSWORD: "${INFLUXDB_USER_PASSWORD}"
    container_name: telegraf
    depends_on:
      - influxdb
    restart: unless-stopped
